dist/
.idea/
vendor/
main
/raven
/logparser
/git

# Sensitive files
id_rsa
id_rsa.pub
key.pem
publickey.pem
ntcert.crt
deployments/vault-ssg-auth-dev-token
deployments/vault-ssg-test-token.yaml
deployments/secret-*.yaml
deployments/ssg-*.yaml
deployments/ssg-*.json
deployments/ansible/*.retry
deployments/logparser-config-*.json
ssgkubernetesvault.deployment

# Build artifacts and test fixtures
bin/
declarative/

