apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .AppName }}
  namespace: {{ .Spec.DestEnv }}
  labels:
    {{ .LabelManagedBy }}: {{ .ManagedBy }}
spec:
  destination:
    namespace: {{ .Spec.DestEnv }}
    server: {{ .Cfg.DestServer }}
  project: {{ .Spec.DestEnv }}
  source:
    path: {{ .Path }}
    repoURL: {{ .Spec.RepoURL }}
    targetRevision: {{ .Cfg.TargetRevision }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - Validate=false
